.skills {
  @include sm-min {
    padding: 10px 10px 30px 10px;
  }
  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;

    padding-bottom: $gap;

    @include lg-min {
      grid-gap: $gap / 2;
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-gap: $gap / 2;
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-gap: $gap / 2;
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__buttom {
    display: flex;
    justify-content: center;
  }
}


.skill-item {
  position: relative;

  overflow: hidden;

  min-height: calc(33.33vh - 13.3px);

  background-color: $color-primary;

  &:hover {
    .skill-item__overlay {
      opacity: 0.95;
    }
    .skill-item__link {
      color: $color-accent;
    }
    .skill-item__image {
      transform: scale(1.1);
    }
  }

  // @madia min-hight calc() / max-hight: 200px //
  &:nth-of-type(1) {
    grid-area: a1;
  }
  &:nth-of-type(2) {
    grid-area: a2;
  }
  &:nth-of-type(3) {
    grid-area: a3;
  }
  &:nth-of-type(4) {
    grid-area: a4;
  }
  &:nth-of-type(5) {
    grid-area: a5;
  }
  &:nth-of-type(6) {
    grid-area: a6;
  }
  &:nth-of-type(7) {
    grid-area: a7;
  }
  &:nth-of-type(8) {
    grid-area: a8;
  }
  &:nth-of-type(9) {
    grid-area: a9;
  }
  &__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 0.5s;

    opacity: 0.8;
    background-color: $color-primary;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: transform 0.5s;

    background-position: 50% 50%;
    background-size: cover;
  }
  &__title {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: $gap;

    transition: color 0.5s;
    letter-spacing: 0.1em;

    font-size: 1.25rem;

    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
  }
}
