
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-gray;

  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem ;
  }
  @include lg-md {
    font-size: 2.5rem ;
  }
  @include md {
    font-size: 1.875rem ;
  }
}

h2 {
  display: block;
  font-family: $font-header;
  color: $color-primary;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  margin-top: 0;


  @include lg-min {
    font-size: 2.5rem;
    margin-bottom: 56px;
  }
  @include lg-md {
    font-size: 2rem;
    margin-bottom: 42px;
  }
  @include md-sm {
    font-size: 1.5rem;
    margin-bottom: 36px;
  }
  @include sm {
    font-size: 1.5rem;
    margin-bottom: 36px;
    text-align: center;
  }
}
a {
  text-decoration: none;

  color: $color-light;
}

.btn {
  display: block;

  height: 60px;
  padding: 18px $gap;

  transition: background-color 0.5s;
  text-align: center;

  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);
}

.btn:hover {
  background-color: $color-accent;
}

.btn-accent {
  display: block;

  height: 60px;
  padding: 18px $gap;

  transition: background-color 0.5s;
  text-align: center;
  letter-spacing: 0.1em;

  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);

  font-size: 1.125rem;

  @include sm-min {
    min-width: 350px;
  }
  @include sm {
    width: 100%;
  }
}

.btn-accent:hover {
  background-color: $color-accent;
}
